<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Showing your post in detail</h1>
    <h4>id:<%= post.id %></h4> 
    <div class="post">
        <h3 class="user"><%= post.username %></h3>
        <h4><%= post.content %></h4>
        <br>
        <a href="localhost:8080/posts/<%= post.id %>">See in Detail</a>
    </div>
</body>
</html>